body {
  margin: 0;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.card {
  width: 300px;
  background-color: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;

  display: block;
  margin: 0 auto 15px auto;
}

.social img {
  width: 30px;
  margin: 5px;
}

button {
  margin-top: 10px;
  padding: 8px 15px;
  cursor: pointer;
}
