body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.parallax {
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.image1 {
  background-image: url("42f519d1-f644-4a85-ab5c-579477a62774.png");
}

.image2 {
  background-image: url("df75e0276d886f6feb527eff81e535ec_tn.jpg");
}

.text {
  color: white;
  font-size: 40px;
  background-color: rgba(0,0,0,0.5);
  padding: 20px;
}

.block {
  height: 300px;
  background-color: black;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
